* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --text-color: rgb(251, 251, 252);
    --bg-url: url(./assets/bg-desktop.jpg);
    --surface-color: rgba(255, 255, 255, 0.137);
    --pedro-color: rgb(255, 255, 255);
    --pé-color: rgb(253, 253, 253);
    --switch-bg: url(./assets/moon-stars.svg);
}

.light{
    --text-color: rgb(0, 0, 0); 
    --bg-url: url(./assets/bg-desktop-light.jpg);
    --surface-color: rgba(0, 0, 0, 0.349);
    --pedro-color: rgb(0, 0, 0);
    --pé-color: rgb(10, 10, 10);
    --switch-bg: url(./assets/sun.svg);
}



body {
    /*
    background-image: url(./assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    */

    /* short read */
    background: var(--bg-url) no-repeat top center/cover;
    height: 100vh;


}
body * {
  font-family: "Oswald", sans-serif;
 
}
#container {
    width: 100%;
    max-width: 588px;
    margin: 56px auto ;
    padding: 0px 24px;
}

/* profile */
#profile{

    text-align: center;
    color: var(--text-color);
    padding: 24px;
}
#profile img{
    width: 112px;
    
}
#profile p{
    margin-top: 8px;
    font-weight: 700;
    font-size: 17px;
    

}

/* switch*/

#switch{
    width: 64px;
    position: relative;
    height: 24px;
    margin: 4px auto;
}


#switch button {
    width: 32px;
    height: 32px;
    background: white var(--switch-bg) no-repeat center;
    border: 0;
    border-radius: 50%;

    position: absolute;
    
    


    left: 0;
    z-index: 1;
    transform: translateY(-10%);

    animation: slide-out 0.2s ;
    
    
}


.light #switch button{
    animation: slide-in 0.4s forwards;
    
    
}

 #switch button:hover {
    outline: 8px solid rgba(255, 255, 255, 0.158);
 }


#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--pedro-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;

}


/* ul */
ul{

    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 24px 0px;


}

ul li a{

    
    display: flex;
    justify-content: center;
    padding: 16px 24px;
    color: var(--text-color);
    
    
    
    background: var(--surface-color);
    border-radius: 50px;
    backdrop-filter: blur(10px);
    
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;

    transition: all 1s;


}

/*  pseudo-slector  */

ul li a:hover {

    background: rgba(0, 0, 0, 0.062);

   




}


/* social links */

ion-icon{

    color: var(--text-color);
    font-size: 32px;
   




}

#Socialink{
  
    display: flex;
    gap: 150px;
    justify-content: center;
   
    
    
    
}

#Socialink a{

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    
    
    border-radius: 50%;
    transition: all 0.2s;
    
    

}

   


#Socialink a:hover{

    background-color: rgba(240, 248, 255, 0.158);
    

}

footer { 
    
    padding: 24px 0px;
    text-align: center;
    color: var(--text-color);
    font-size: 15px;
    margin-top: 200px;
    
}

/* media queries */
@media (min-width: 700px) {
    :root {
        --bg-url: url(./assets/bg-desktop.jpg);
    }

    .light {
        --bg-url: url(./assets/bg-desktop-light.jpg);
    }

}


/* animation */
@keyframes slide-in {
    from{
        left: 0;
    }
    to{
        left: 50%;
    }
}

@keyframes slide-out {
    from{
        left: 50%;
    }
    to{
        left: 0;
    }
}